<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Sistema de pontos</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="main-div">
        <h1 class="main-title">Sistema de gerenciamento de laboratorios</h1>
        <div class="sub-div">
            <h2>Login</h2>
            <input type="text" placeholder="Digite sua matricula" id = "login">
            <br>
            <input type="password" placeholder="Digite sua senha" id = "senha">
        </div>
    </div>
</body>
</html>